LOCAL_CA_PATH="/home/elias/CA"
LOCAL_CA_enc_PATH="/home/elias/CA_enc"

KEY_PATH="/home/elias/ca.imovies.ch.aes-256.key"
CIPHER_MODE="aes-256-cbc"

REMOTE_CA_enc_PATH="/home/elias/CA"
REMOTE_HOST="ubi"
